<!DOCTYPE html>
<html>
<head>
    <title>AssetFlow</title>
</head>
<body>
    <h1>AssetFlow</h1>

    <h2>Add Asset</h2>
    <form action="/add_asset" method="post">
        <input type="text" name="tag" placeholder="Asset Tag (AF-0001)" required>
        <input type="text" name="name" placeholder="Asset Name" required>
        <button type="submit">Add Asset</button>
    </form>
    <h2>Book a Resource</h2>

    <form action="/book" method="post">
    <input type="text" name="resource" placeholder="Resource Tag" required>

    <label>Start:</label>
    <input type="datetime-local" name="start" required>

    <label>End:</label>
    <input type="datetime-local" name="end" required>

    <button type="submit">Book</button>
</form>
<h2>Add Employee</h2>

<form action="/add_employee" method="post">
    <input type="text" name="name" placeholder="Employee Name" required>
    <input type="email" name="email" placeholder="Employee Email" required>
    <button type="submit">Add Employee</button>
</form>

    <h2>Assets</h2>

    <table border="1" cellpadding="5">
        <tr>
            <th>Tag</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for asset in assets %}
        <tr>
            <td>{{ asset[0] }}</td>
            <td>{{ asset[1] }}</td>
            <td>{{ asset[2] }}</td>
            <td>
                <a href="/allocate/{{ asset[0] }}">Allocate</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Bookings</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>Resource</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    {% for booking in bookings %}
    <tr>
        <td>{{ booking[0] }}</td>
        <td>{{ booking[1] }}</td>
        <td>{{ booking[2] }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Employees</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    {% for employee in employees %}
    <tr>
        <td>{{ employee[0] }}</td>
        <td>{{ employee[1] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>